<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel='stylesheet' href=' {{asset('build/app.css')}}' />

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
     <nav class="navbar navbar-expand-sm bg-dark mb-5">
          <a class="navbar-brand" href="#">MMA</a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/articles">Our Articles</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/users">Our Writers</a>
                </li>
                
            </ul>

</nav>
    <div class='container'>
 

        {% block body %}{% endblock %}
    </div>
  
        <script src='{{asset('build/app.js')}}'> </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
